head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  link(rel='stylesheet', type='text/css', href='http://localhost:3000/stylesheets/space_announce.css')
  script.
    function Question(anchor){
        var link= 'http://127.0.0.1:3000/question/#' + anchor;
        window.open(link, 'ExplainWindow', 'resizable=yes, width=450,height=400, scrollbars=yes, resizable=yes');
    }
body(background='http://localhost:3000/images/ccu-sbg.jpg')
center
  span.title1
    font(size='36', face='bold')
      strong 選課系統  - 系統公告
table(width='100%')
  tbody
    tr
      td(height='1', colspan='2', background='http://localhost:3000/images/dash.jpg')
p
center
  table.font1(border='0', width='75%')
    tbody
      tr
        th(bgcolor='YELLOW', width='80%') 標題: 109學年度第1學期棄選申請時間：11月9日至12月7日晚上10:00
        th(bgcolor='YELLOW') 公告日期: 2020/11/30 
          a(href="javascript:OnlineHelp('DATETIME')")
            font(color='BLUE') [?]
      tr
        td(colspan='2')
          |1.棄選科目每學期以一科為限。
          br
          br
          |2.學士班同學修習學分數低於八學分（含）者，不得辦理棄選，碩博士班同學不在此限。
          br
          br
          |3.一般生棄選流程:
          br
          br
          |(1)同學請至選課系統，選申請棄選(或資料查詢中之上學期功課表)，點棄選之科目，即完成棄選，系統將e-mail通知授課教師；如欲取消棄選，請於"我的棄選單"點選，亦需於上述時間內完成。
          br
          br
          |(2)本學期棄選截止後，於109年12月8日10:00AM起開放棄選查詢確認，請至教務系統→點選成績查詢，輸入學號及密碼，查詢棄選課程是否註記棄選。
          br
          br
          |4.依本校選課須知第九條第三款：依規定應繳交學分費之課程棄選後，其學分費已繳交者不予退費，未繳交者仍應補繳。
