head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  link(rel='stylesheet', type='text/css', href='http://localhost:3000/stylesheets/space_announce.css')
  script.
    function Question(anchor){
        var link= 'http://127.0.0.1:3000/question/#' + anchor;
        window.open(link, 'ExplainWindow', 'resizable=yes, width=450,height=400, scrollbars=yes, resizable=yes');
    }
body(background='http://localhost:3000/images/ccu-sbg.jpg')
center
  span.title1
    font(size='36', face='bold')
      strong 選課系統  - 系統公告
table(width='100%')
  tbody
    tr
      td(height='1', colspan='2', background='http://localhost:3000/images/dash.jpg')
p
center
  table.font1(border='0', width='75%')
    tbody
      tr
        th(bgcolor='YELLOW', width='80%') 標題: 通識國文及英語課程選修注意事項
        th(bgcolor='YELLOW') 公告日期: 2014/12/30
          a(href="javascript:Question('DATETIME')")
            font(color='BLUE') [?]
      tr
        td(colspan='2')
          font(color='blue', size='5', face='標楷體')
            |壹、通識國文
            br
            font(color='black', size='3', face='標楷體')
              |一、大一通識國文課程，課程上課時段依學系別區分，為便於選修，請依所屬學系指定上課時段選課，學生於所屬學系大一國文時段中選課則享有選課系統篩選優先權，各學系指定上課時段請點選課程備註連結。
              br
              br
              font(color='red')
                |二、開學後第二階段選課僅能退選，無法加選，若有特殊需求，請進行加簽登記程序。
                font(color='black')
                  |請申請加簽登記者確實退選後，再至中文系辦外櫃台(文學院2樓)登記，登記時請檢附由選課系統中所列印之課表。
                  br
                  br
                  |三、開學後加簽登記時程及程序[註]：第二階段選課期間請至中文系辦外櫃台(文學院2樓)進行加簽登記，登記時請攜帶課表；加簽申請通過者請於期限內，列印選課系統內的加簽單至中文系辦外櫃台(文學院2樓)核章，逾期視同放棄加簽，核章後於第二階段選課期限內繳交加簽單至教學組，
                  font(color='red')
                    |等候開通名額後(約2~3小時)，務必自行上網選課，才算完成加簽手續。
                    font(color='black')
                      |詳細加簽時程請見以下網頁：中文系網頁：
                      font(color='blue')
                        a(href='http://litera.ccu.edu.tw/cnews/', target='_NEW') http://litera.ccu.edu.tw/cnews/
                        br
                        br
                        font(color='black')
                          |四、為確保修課進度，尚未確認選上班級者(如：登記加簽者)，第一週及第二週仍需出席任選班級課程，以取得教師的上課證明(至中文系辦外櫃台(文學院2樓)領取表單)，待確定選修班級後，請將上課證明繳交給授課教師，以免影響學期成績。
                          br
                          br
                          |五、未選課也未在期限內登記的同學，恕難再提供加簽機會。
                          br
                          br
                          |六、大一以及大四生保證有課可修，但無法指定教師。
                          br
                          br
                          font(color='blue', size='5', face='標楷體')
                            |貳、通識英文
                            br
                            font(size='3', color='black', face='標楷體')
                              |一、因通識英文課程為大一必修通識課程
                              font(color='RED') (請參閱各系修業規定)
                              |，第一階段選課名額全數保留大一學生選課。
                              br
                              br
                              |二、需選修「實用」及「應用」各1門課程，並依適級程度修課（分為3個程度：基礎、強化、整合）， 第1學期開設「實用」課程，第2學期開設「應用」課程， 若有畢業時程安排，務必妥善安排修課時程（建議最遲大三前修習）。
                              br
                              br
                              |三、大二以上尚未修畢通識英文課程者， 可於第一階段選課期間至語言中心辦理通識英文「選課登記」 
                              font(color='RED') (受理日期留意語言中心公告)
                              | ，需視大一系統選課後之餘額辦理。 提醒大二(含)以上同學務必把握時間登記(詳細訊息請見
                              a(href='https://cls.ccu.edu.tw/contents/ge_take.php', target='_NEW') https://cls.ccu.edu.tw/contents/ge_take.php
                              | )。
                              br
                              br
                              |四、未於受理日期登記者，可於開學後該課程第一次上課時段， 至語言中心教學區遞補缺額(圖資大樓2樓，電算中心對面)。
                              br
                              br
                              |五、若課程有餘額，第一週遞補順序：1) 大一； 2)大二以上完成預登記； 3) 現場登記遞補。
