doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title 國立中正大學  選課系統  問題諮詢
  link(href='../assets2/css/styles.css' rel='stylesheet')
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js' crossorigin='anonymous')
  link(rel='shortcut icon' href='../assets/ico/favicon.png')
  link(rel='apple-touch-icon-precomposed' sizes='144x144' href='../assets/ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed' sizes='114x114' href='../assets/ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed' sizes='72x72' href='../assets/ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed' href='../assets/ico/apple-touch-icon-57-precomposed.png')
  style.
    body{
    background-image: url('../images/ccu_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
  a.navbar-brand(href='../loginSuccess/') 國立中正大學  選課系統
  button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0(href='#')
    i.fas.fa-bars
  // Navbar
  ul.navbar-nav.ml-auto.ml-md-0
    li.nav-item.dropdown
      a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i.fas.fa-user.fa-fw 
        |#{user.Student_Name}
      .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
        a.dropdown-item(href='#') 設定
        .dropdown-divider
        a.dropdown-item(href='../logout') 登出
  font(color='white') #{user.Student_ID}
#layoutSidenav
  #layoutSidenav_nav
    nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
      .sb-sidenav-menu
        .nav
          .sb-sidenav-menu-heading 選課系統公告
          a.nav-link(href='../loginSuccess/')
            .sb-nav-link-icon
              i.bi.bi-megaphone
            |系統公告
          .sb-sidenav-menu-heading 選課系統相關
          a.nav-link(href='../additional_selection/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-plus
            |加選
          a.nav-link(href='../advanced_course/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-plus-fill
            |進階加選
          a.nav-link(href='../withdraw/')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-minus
            |退選
          a.nav-link(href='../curriculum/')
            .sb-nav-link-icon
              i.bi.bi-calendar2-check-fill
            |檢視以選修科目
          a.nav-link(href='../change_password/')
            .sb-nav-link-icon
              i.bi.bi-lock
            |更改密碼
          .sb-sidenav-menu-heading 資料查詢
          a.nav-link(href='../course_information/')
            .sb-nav-link-icon
              i.bi.bi-stickies-fill
            |查詢開課資料
          a.nav-link(href='../advanced_course_information/')
            .sb-nav-link-icon
              i.bi.bi-stickies
            |進階開課資料查詢
          .sb-sidenav-menu-heading 問題與表單
          a.nav-link(href='../general_question/')
            .sb-nav-link-icon
              i.bi.bi-question-circle-fill
            |一般問題
          a.nav-link(href='../images/system_operate.docx')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-text-fill
            |系統操作手冊
          a.nav-link(href='../images/ccu_timetable.doc')
            .sb-nav-link-icon
              i.bi.bi-file-earmark-text
            |課表doc檔
          .sb-sidenav-menu-heading 選課輔助
          a.nav-link(href='../course_comment/')
            .sb-nav-link-icon
              i.bi.bi-chat-text-fill
            |課程討論
  #layoutSidenav_content
    main
      .container-fluid
        h1.mt-4 問題諮詢
        p
        hr
        center
          table(border=1, cellspacing='3', cellpadding='3', cols='2', width='85%')
            tbody
              tr
                td(width='35%', align='CENTER')
                  font(color='RED') 問題
                td(align='CENTER')
                  font(color='RED') 解決方法
              tr
                td 系統好慢唷
                td 請先確定目前時段是否先選先贏. 如果不是在先選先贏的時段或不想選有限修人數的科目, 請晚一點再試試.
              tr
                td 我在主選單找不到加退選的按鈕呢
                td 非加退選時間只能查詢資料, 請在規定加退選時段再進入系統 :)
              tr
                td 我忘記選課密碼了
                td 請於選課登入畫面點選 "遺失密碼", 即可線上查詢
              tr
                td 我的密碼明明是對的, 可是系統告訴我密碼錯誤耶
                td 請先查明是否進入正確系統(ex.專班同學請進入專班選課系統), 若仍有問題則同上
              tr
                td 為什麼要選課就算沒衝堂, 系統也說有衝堂?
                td 科目異動後如果之前已選的科目自己造成衝堂, 請先將衝堂的科目退掉一個.
              tr
                td 系統的字體太大不方便用或太小看不到
                td
                  | 如果您使用Netscape, 可以按Ctrl+[縮小字體, 或是Ctrl+]放大
                  br
                  | 如果您使用IE, 可以在視窗的功能選單上選擇檢視-&gt;字形
              tr
                td 上課節次是在幾點到幾點? 我可以在哪裡找到上課時間表?
                td
                  | 上課節次有 50 與 75 分種兩種,
                  | 上課時間表可在
                  a(href='http://140.123.33.5/class.pdf', target='NEW')
                    | http://140.123.33.5/class.pdf
                  |  找到.
              tr
                td 為什麼我選了那麼多門課，篩選後卻只剩下一兩門? 為什麼我同學選什麼上什麼？
                td
                  | 選課系統的篩選(限修篩選)優先順序是依照
                  a(href='system_choose_criteria.html') 選課系統篩選原則
                  |  所規範，
                  |  依照同學的年級、系所、身份與科目的類型而有所不同權重。
                  |  同一權重的同學，採亂數篩選。
                  |  由於每一門科目的篩選都是獨立事件，系統無法擔保同學一定能選上幾門課。
        p
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' crossorigin='anonymous')
script(src='../assets2/js/scripts.js')
script.
  function post(url, params){
    var temp = document.createElement("form");
    temp.action = url;
    temp.method = "post";
    temp.style.display = "none";
    for (var x in params) {
      var opt = document.createElement("textarea");
      opt.name = x;
      opt.value = params[x];
      temp.appendChild(opt);
    }
    document.body.appendChild(temp);
    temp.submit();
    return temp;
  }
