head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='Pragma', content='NO-CACHE')
  meta(http-equiv='expires', content='-1')
  title #{error1}
center
  font #{error1}
  br
  font #{error2}
