head
  meta(http-equiv='Content-Language', content='zh-tw')
  meta(name='GENERATOR', content='Microsoft FrontPage 5.0')
  meta(name='ProgId', content='FrontPage.Editor.Document')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  title 學籍資料登錄系統-密碼查詢 Password Query
  script(language='javascript').
    var mesg = "";
    function checkAllfields(field) {
    mesg = "";
    if (document.fm_askfor_passwd.std_id.value == '') {mesg += '請輸入您的"學號"Please enter your Student ID!\\n';}
    if (document.fm_askfor_passwd.personid.value == '') {mesg += '請輸入你的"身份證字號"Please enter your Identification number!\\n';}
    if (document.fm_askfor_passwd.birthday.value == '') {mesg += '請輸入你的"出生年月日Please enter your Date of Birth"!\\n';}
    if (mesg) {
    alert(mesg); return false;
    } else {
    return true;
    }
    }
form(method='POST', name='fm_askfor_passwd', action='/query')
  h1(align='center')
    |學籍資料登錄系統
    br
    | Student Academic Record Entry System
  h2(align='center') 密碼查詢 Password Query
  p(align='left') 說明：
  p
    | 1、請填入您的
    font(color='red') 學號
    | 。
    br
    |     2、請填入您的
    font(color='red') 身份證字號
    | 與
    font(color='red') 出生年月日
    | ，確認您的身份。
    br
    |     3、確認成功後，本系統會自動送出密碼至
    font(color='red') 您登錄的電子郵件信箱
    | 。
    br
    |     4若是您在本系統中，沒有留下電子郵件信箱，
    font(color='red') 請至教務處詢問您的密碼
    | 。
    br
    |   5、若是您在94年9月5日後，尚未在選課系統更改過密碼，
    font(color='RED') 請至教務處更新您的密碼
    | 。
    br
    br
    |   Note : After submitting successfully, you will receive your password information by the email recorded in
    |   Student Academic Record Entry System. 
    table#AutoNumber1(border='0', cellpadding='3', cellspacing='0', style='border-collapse: collapse', bordercolor='#111111', width='100%', bgcolor='#CCFFCC')
      tbody
        tr
          td(width='50%', align='right') 學號 Student ID：
          td(width='50%')
            input(name='Student_ID', size='20', maxlength='9', style='border-style:solid; border-width:1; float: left')
        tr
          td(width='50%', align='right') 身份證字號 Identification number:
          td(width='50%')
            p(align='center')
              input(type='password', name='Student_Identify_ID', size='20', maxlength='10', style='border-style:solid; border-width:1; float: left')
        tr
          td(width='50%', align='right') 出生年月日 Date of Birth：
          td(width='50%')
            input(type='password', name='Student_Birth', size='20', maxlength='8', style='border-style:solid; border-width:1; float: left')
        tr
          td(width='50%', align='right')  
          td(width='50%')
            p(align='left')
              |(範例：53年1月1日請鍵入530101或是西元年19640101
              br
              | For example, Date of Birth: 19640101)
        tr
          td(width='50%', align='right')  
          td(width='50%')
            input(type='submit', value='確定 Submit', name='bt_lost_passwd', onclick='return checkAllfields(this);')
            input(type='reset', value='重新輸入 Reset', name='bt_clean')
            input(type='button', value='離開 Exit', name='bt_close', onclick='return window.close()')
