head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='Pragma', content='NO-CACHE')
  meta(http-equiv='expires', content='-1')
  title #{error1}
center
  font #{error1}
  br
  font #{error2}
  hr
  p
    a(href='http://localhost:3000/query_password/') 請重新確認您的身份
      br
      |Please confirm your entered information
