head
  title 中正大學選課系統  線上說明
  meta(http-equiv='Content-Type', content='text/html; charset=big5')
  link(rel='stylesheet', type='text/css', href='http://localhost:3000/stylesheets/space_question.css')
center
  table(border='1', width='100%', align='CENTER', cellpadding='0', cellspacing='0')
    tbody
      tr
        th(bgcolor='lightGREEN')
          font(size='+1') 中正大學選課系統  線上說明
      tr
        td
          font(size='2')
            a(name='ONLINE_HELP')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 關於此線上說明功能
              ul
                |即日起開放線上說明功能, 簡單介紹系統特定名詞與規則.在任何系統上出現 
                b
                  u
                    font(color='BLUE') [?]
                |處, 都會連結到此功能的相對應位置, 無須翻閱其他頁面.
            a(name='DATETIME')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 系統日期時間
              ul
                |本系統的日期時間, 大多採用 YYYY/MM/DD HH:MM:SS 格式.若干公告可能使用民國年, 可以年份長度分辨之.
            a(name='SUPPORT_DEPT')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 支援系所/年級/班級
              ul
                |表示該科目以此系所/年級/班級為開課主要對象.符合(或部分符合)該條件的同學,擁有視同本系/本年級/本班的篩選優先順序.此條件只有在限修篩選時有作用.
                p
                  |ex: 如數學系開給電機系一年級的微積分,以電機系一年級學生為最高優先篩選.
            a(name='BAN_DEPT')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 擋修系所/年級/班級
              ul
                |表示該科目不允許選課的對象.完全符合該條件的同學, 會在加選時看到擋修錯誤訊息而無法加選.若欲規避此限制選課, 應於第二階段選課時繳交擋修加簽單.
                p
                  |另, 若開科目顯示 "限本系生修",在第二階段則開放所有外系生選修, 不需填寫加簽單.
            a(name='RESERVED_NUMBER')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 保留本系名額
              ul
                |在二次篩選的第一次篩選期間, 預留給本系生的名額.被保留的常是尚未入學的大一新生.
                p
                  |ex: 若科目限修 70 人, 保留 50 人, 則在二次篩選的第一次時,只有 20 人可以選進該科目.
            a(name='PRINCIPLE')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 限修篩選類型
            ul
              a(name='PRINCIPLE')
                |限修篩選的類型有二:
                li
                  |一次篩選: 沒有保留名額,所有科目以限修人數為最高選課人數;
              li
                a(name='PRINCIPLE') 二次篩選: 開給尚未入學的大一新生的課,預先將名額保留下來.詳見
                a(href='#RESERVED_NUMBER') 保留本系名額
                |.
            a(name='PREREQUISITE_COURSE')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 先修科目/先修篩選
              ul
                |若欲修習本科目, 需要修過的其他科目.依開課設定, 先修科目可以是 "曾經修習", "及格", "xx分以上" 等,先修課目亦可有多門, 彼此以 "需全部符合(AND)", 或是"只須符合其中一項(OR)" 條件相關聯.
                p 加選有此限制的科目時, 系統會暫時允許加選,於選課期間固定時程執行先修篩選.
                p 先修篩選固定在以下時間點執行:
                li
                  |第二階段選課, 或是新生第一階段選課前(寒暑假結束前).
                li
                  |第二階段第一週, 與每次限修篩選一併執行.
                li
                  |第二階段選課第二週, 每日篩選.
            a(name='DUPLICATE_CHOOSE')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 重複修習篩選
            ul
              a(name='DUPLICATE_CHOOSE')
                |曾經修習並且及格的科目, 依規定不可重複修習.
              p
                a(name='DUPLICATE_CHOOSE')
                  |加選時, 系統會暫時允許, 之後於固定時程執行篩選.篩選時間同
                a(href='#PREREQUISITE_COURSE') 先修篩選
                | .
            a(name='NOTE')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') (開課)其他備註
              ul
                |除了支援, 擋修, 限修人數, 保留名額, 先修科目等條件之外,開課系所要求的其他開課備註說明.系統不對此備註做篩選, 但同學選課時仍須注意是否符合條件.
            a(name='SYSTEMCHOOSE')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 限修篩選
            ul
              a(name='SYSTEMCHOOSE')
                |第一階段和第二階段第一週選課期間,系統會先暫時允許選修人數超過限修人數,然後執行限修篩選, 挑選出選上的名單.篩選優先順序依照
              a(href='#SYSTEMCHOOSE_CRITERIA') 篩選原則
              |判定.
              p
                |限修篩選固定在以下時間點執行:
              li
                |第一階段選課後數日內.
              li
                |第二階段選課第一週的第三天, 及第四天之後的每一天.
              li
                |第二階段選課第二週採
                a(href='#LIMIT_STATE_1') 先搶先贏, 額滿為止
                |, 故不再篩選.
                p
                  |篩選期間, 系統會關閉加退選及部分查詢功能.
            a(name='SYSTEMCHOOSE_CRITERIA')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 篩選原則
            ul
              a(name='SYSTEMCHOOSE_CRITERIA')
                |明確規範系統篩選時，何者身份擁有較高或較低優先權。優先權因學生年級系所與身份，以及所選科目而有所不同。詳細規範請見
              a(href='UserGuide/system_choose_criteria.html', target='NEW') 國立中正大學 選課系統篩選原則
            a(name='ADD_COURSE_GRADE')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') (加選)選擇年級
              ul
                |加選科目時請選擇系所及年級.若欲加選通識課程, 請在年級欄選擇欲加選科目之通識領域;若欲加選跨領域學程, 年級欄無作用.
            a(name='SELECTED_VIEW')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 檢視已選修科目
              ul
                |此功能顯示當學期已選修科目.在選課期間, 此處顯示的科目不一定是通過篩選的,請密切注意篩選時程.
                p
                  |若在非選課期間此網頁沒有顯示任何科目,請注意學年學期是否正確.若不是, 可能是系統已經開始準備下學期的開課, 此時可以點選"資料查詢" -&gt; "上學期功課表", 以查詢 "本學期" 的選課資料.
            a(name='LIMIT_STATE_0')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 系統暫不限修, 將執行篩選
            ul
              a(name='LIMIT_STATE_0')
                |表示系統暫時允許科目選課人數超過限修人數,在後續時程將進行篩選, 挑選出選上名單.若曾經在本學期通過至少一次篩選, 則保留最高優先權.詳見
              a(href='#SYSTEMCHOOSE') 限修篩選
              | .
            a(name='LIMIT_STATE_1')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 先搶先贏, 額滿為止
              ul
                |表示系統不再進行限修篩選, 一但選上就是選上,除非自行退選或因先修/重複修習資格不符而被刷掉.
            a(name='LOWER_CREDIT_LIMIT')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 學分下限
              ul
                |每學期選課若未達學分下限, 則為短修.
                |學分下限依學制與年級而有不同, 如下:
                br
                ol
                  li
                    |大一、大二、大三學分下限16學分
                  li
                    |大四學分下限8學分
                  li
                    |研一學分下限6學分
                  li
                    |研二上學分下限2學分
                  li
                    |博一學分下限6學分
                  li
                    |博二學分下限3學分
                  li
                    |碩士在職專班研一學分下限3學分
                  li
                    |碩士在職專班研二上學分下限2學分
                |另, 一般生的在職學生(非在職專班)下限可減少一學分.
            a(name='COURSE_CONFLICT')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 科目衝堂
              ul
                |選課系統不允許加選衝堂的科目，但是如果因為課程異動造成衝堂，系統亦不會主動幫同學退選。若同學有上述衝堂情況，請先將其中一門課退選以解決衝堂，然後方可加退選其他課程。
            a(name='CONCENT_FORM')
              img(src='http://localhost:3000/images/green_ball.gif')
              font(color='GREEN') 線上申請加簽、加簽單
              ul
                |自 100 學年度(2011/09)起，在第二階段選課期間，系統允許線上申請加簽，以取代過去純粹紙本申請的額滿加簽/擋修加簽單。在加選功能中，部份科目會有「加簽」選項，表示同學可申請加簽該科目。點選後將會進入確認畫面，確認後系統會產生該科目加簽單。同學可將之列印後，填寫加簽理由等欄位，經授課教師與開課系所主管簽名後，親自送至教務處教學組辦理，核可後於選課截止前自行選課。
                p
                  |由於該加簽選項的出現與否係由系統自行判斷，系統上無某科目的加簽選項，但同學確實有加簽需求，請逕洽教學組以特例辦理。
